
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symptom Checker</title>
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="static/css/about.css">

    <link rel="stylesheet" type="text/css" href='static/css/contact.css'>

    <link rel="stylesheet" type="text/css" href='static/css/covid19.css'>

    <link rel="stylesheet" type="text/css" href='static/css/registration.css'>

    <link rel="stylesheet" type="text/css" href='static/css/indiadata.css'>

     <link rel="stylesheet" type="text/css" href='static/css/medical.css'>


    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>

</head>
<body>
 <header>
    <div class="container-fluid" id="main-header">
      <div class="row" style="font-size:22px;">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <a href="/">
          <img src="static/img/sympchec.png" class="headimg"></a>
        </div>

<div class="col-sm-7 col-xs-7 col-md-7 col-lg-7" style="margin-top:40px;">
    <div class="navbar">


            {% if user.is_authenticated %}
    <table>
              <tr>
                  <td style="width:600px"></td>
                  <td style="width:250px;color:white">Hello,{{user.first_name}}
            </td>
                  <td style="width:200px;">  <a class="active" href='/' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Home</a>


                  </td>
                  <td style="width:200px;"> <a href='about.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">About</a>

             </td>
                  <td style="width:200px;"> <a href='contact.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Contact</a></td>
                    <td style="width:130px;"><a href='logout' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Logout</a></td>
              </tr>
          </table>

            {% else %}
          <table>
              <tr>
                  <td style="width:600px;" ></td>
                  <td style="width:200px;"><a class="active" href='/' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">
                      Home</a>
            </td>
                  <td style="width:200px;"> <a href='about.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">About</a>


                  </td>
                  <td style="width:180px;"> <a href='contact.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Contact</a>
             </td>
                  <td style="width:200px;text-align:center"><a href='registration.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Registration</a></td>
                    <td style="width:150px;text-align:right"><a href='login.html' onMouseOver="this.style.color='black'" style="color:white;text-decoration:none"   onMouseOut="this.style.color='white'">Login</a></td>

              <td style="width:100px"></td></tr>

          </table>

   {% endif %}
        </div>
</div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
           <div class="covid">
             <a class="popup-with-form" href='covid19.html'>Covid-19</a>
           </div>
        </div>
      </div>
    </div>
  </header>

<div class="container-fluid" style="height:auto;
  width: 100%;
  ">

    <div class="row" id="med1" style="margin-top:40px;margin-bottom:40px;" >


        <div class="col-xm-2 col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-xm-8 col-lg-8 col-md-8 col-sm-8" >
        <div class="medical_nav" style="width:100%;background: rgba(0, 0,0, 0.5);">
                <a href="bodyloc.html" class="active1" >
                    <div style="width:100px;">Info</div>
                </a>
                <a href="needed.html">
                    <div style="width:150px;color:white">Sub Body Part</div>
                </a>
                <a href="reasons.html" >
                    <div style="width:150px;color:white">Body Symptoms</div>
                </a>
                <a href="">
                    <div style="width:100px;color:white">Reasons</div>
                </a>
                <a href="solution.html" >
                    <div style="width:100px;color:white">Treatment</div>
                </a>
            </div>
            <div class="medical_text" >
                <form action="subbody.html" method="POST">
                {% csrf_token %}
                    <table class="medtab" style="border-radius:0px 0px 10px 10px;background-color:white;width:100%;">
                        <tr>
                            <td style="padding-left:15px;padding-top:10px;"> <label for="yearofbirth" style="font-size:24px;">Enter Your Birth Year</label>
                                <input type="text" id="yearofbirth" oninvalid="InvalidMsg(this);"
                   oninput="InvalidMsg(this);" name="yearofbirth" placeholder="Birth Year"  style="width:120px;height:50px;border:inset;margin-bottom:15px;border-radius:5px;margin-left:20px;text-align:center" required="required"/>
                            </td>
                            <td rowspan="3"><img src="static/img/male1.png" name="bodypic" id="bodypic" style="height:350px;width:350px;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:15px;"><label for="gender" style="font-size:24px;">Select Gender</label><br>
                                <input type="radio" id="gender" name="gender" value="0" onclick="displaybody(this);" style="margin-right:5px;margin-left:20px;"><label for="male">Male</label><br>
                                <input type="radio" id="gender" name="gender" value="1" onclick="displaybody(this);" style="margin-right:5px;margin-left:20px;"><label for="male">Female</label>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:15px;">
                               <label for="symptom" style="font-size:24px;">Choose Body part</label><br>
                        <select id="symptom"  searchable="Search here.." style="border:outset;border-radius:5px;border-color:black;width:300px;font-size:20px;">
                            <option value="" disabled selected>Select Body Part</option>

                        {% for key,value in dict.items %}
                        <option value={{value}}>{{key}}</option>
                        {% endfor %}
                        </select><br>
                    

                        <input type="hidden" value='' id="symid" name = 'symid'/><br>


                            </td>
                        </tr>
                        <tr><td></td>
                            <td style="float:right;padding-right:10%;padding-top:10px;padding-bottom:10px;">
                                 <button type="submit" style="width:130px;height:50px;border:outset;border-radius:10px;background-color:#F5F5F5;color:black">Continue&nbsp;></button>

                            </td>
                        </tr>

                </table>
                    </form>
            </div>

        </div>

        <div class="col-xm-2 col-lg-2 col-md-2 col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-xm-2 col-lg-2 col-md-2 col-sm-2">

        </div>

        <div class="col-xm-8 col-lg-8 col-md-8 col-sm-8" style="border:solid;border-color:green;margin-bottom:10px;width:70%;background-color:white;">
            <div style="float:left;padding-right:20px;padding-top:3px;"><span style='font-size:44px;color:green'>&#9888;</span></div>
            <div style="float-right;padding:10px;">Sympchec and any content accessed through sympchec is for
                informational purposes only, and is not intended to constitute professional medical
                advice, diagnosis or treatment. Do not ignore or delay obtaining professional medical
                advice because of information accessed through Sympchec. Seek immediate medical assistance
                or call your doctor for all medical emergencies. </div></div>
    </div>
</div>

  <script src="static/js/bootstrap.min.js" type="text/javascript"></script>


<script type='text/javascript'>
$(function() {
    $('#symptom').change(function() {
        var x = $('#symptom').val();
        // and update the hidden input's value
        $('#symid').val(x);

    });
});
</script>

<script type="text/javascript">
	function displaybody(box){
	var bodyPics = new Array(2)
	bodyPics[0] = "static/img/male1.png";
	bodyPics[1] = "static/img/female1.png";
	document.getElementById('bodypic').src = bodyPics[parseInt(box.value)];
	}
</script>
<script>
        function InvalidMsg(textbox) {

            if (textbox.value === '') {
                textbox.setCustomValidity
                      ('Entering an Birth-Year is necessary!');
            } else if (textbox.value<1000) {
                textbox.setCustomValidity
                      ('Please enter a Birth-Year contain 4-digit number');
             }else if (textbox.value>2020) {
                textbox.setCustomValidity
                      ('Entered Birth-Year is future year.Please enter valid Birth-Year');
            } else {
                textbox.setCustomValidity('');
            }

            return true;
        }
    </script>


  <footer class="footer_top" style="height:auto" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
          <div class='footer_img'>
              <a href="/"><img src="static/img/sympchec.png" class="footimg"></a>
          </div>
        </div>
          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">

          <div class="links" style="font-size:24px">
              <table>
                  <tr>
                      <td style="width:150px"></td>
                      <td style="width:90px;text-align:center">  <a href="http://facebook.com" class="fa fa-facebook" style="border:inset;padding:2px;font-size:30px;width:40px;text-align:center;text-decoration:none;margin-right:3%;background-color:#3B5998;color:white;border-radius:20px;"></a>
          </td>
                      <td style="width:90px;text-align:center"> <a href="http://twitter.com" class="fa fa-twitter" style="border:inset;padding:2px;font-size:30px;width:40px;text-align:center;text-decoration:none;margin-right:3%;background-color#55ACEE;color:white;border-radius:20px;"></a>


                      </td>

                      <td style="width:90px;text-align:center">
                            <a href="http://youtube.com" class="fa fa-youtube" style="border:inset;padding:2px;font-size:30px;width:40px;text-align:center;text-decoration:none;margin-right:3%;background-color:#bb0000;color:white;border-radius:20px;"></a>

                      </td>

                  </tr>
                  <tr>
                      <td style="width:100px">
                                                </td>

                      <td style="width:110px;text-align:center">
                          <a href="about.html" style="color:white;">About</a>

                      </td>
                      <td style="width:110px;text-align:center">  <a href="contact.html" style="color:white;">Contact</a>
          </td>
                      <td style="width:110px;text-align:center">   <a href="covid19.html" style="color:white;"> Covid19</a>


                      </td>

                  </tr>
              </table>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
          <div class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer> <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>

