{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Symptom Checker</title>

</head>
<body>

    {% block content %}
    {% csrf_token %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
            <div class="covid_nav">
                <a href="covid19.html" >
                    OVERVIEW
                </a>
                <a href="symptoms.html">
                    SYMPTOMS
                </a>
                <a href="prevention.html" >
                    PREVENTION
                </a>
                <a href="treatment.html" class="active1" >
                    TREATMENT
                </a>
            </div>
            <div class="covid_text">
                There is no specific medicine to prevent or treat coronavirus disease
                (COVID-19). People may need supportive care to help them breathe.
                <hr style="border-top: 2px solid;">
                <h3> Self-Care</h3>
                If you have mild symptoms, stay at home until you’ve recovered. You can relieve your symptoms if you:<br>
                       • rest and sleep<br>
                       • keep warm<br>
                       • drink plenty of liquids<br>
                       • use a room humidifier or take a hot shower to help ease a sore throat and cough<br>
                <hr style="border-top: 2px solid;">
                <h3> Medical Treatments</h3>
                If you develop a fever, cough, and have difficulty breathing, promptly seek medical care. Call in advance and tell your
                health provider of any recent travel or recent contact with travelers.
                <hr style="border-top: 2px solid;">
                <div class="covid-box2">
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                        <i class="fa fa-globe" style="padding-left:20px;margin-right:5px;color:blue"></i>
                          Learn more on who.int
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">

            <div class="covid_info">
                <h2 style="padding-left:5px">Help And Information </h2>
                <hr style="border-top: 2px solid;">
                <h3 style="padding-left:5px">COVID-19 | MyGov.in</h3>
                <div class="covid-box">
                    <i class="fa fa-globe" style="color:blue"></i>
                    <a href="https://www.mygov.in/covid-19/?cbps=1">mygov.in</a>
                </div>

                </h3>
                <hr style="border-top: 2px solid;">
                <h3 style="padding-left:5px">Coronavirus information - India</h3>
                <h5 style="padding-left:5px">Ministry of Health and Family Welfare, Govt. of India</h5>
                <div class="covid-box1">
                    <i class="fa fa-globe" style="color:blue"></i><a href="https://www.mohfw.gov.in">mohfw.gov.in</a>
                </div>
               <div>
                <div class="worlddata" style="float:left;margin-left:10%;margin-top:10%">
                    <a href="covidworld.html" style="position:relative;display:inline-block;padding:8px 25px;margin:10px;color:white;background:black;border-radius:40px;font-size:18px;text-decoration:none;Letter-spacong:2px;overflow:hidden;">Covid-19 WorldWide </a>
                </div><br>

                 </div>
            </div>
        </div>
    </div>
</div>



    {% endblock %}
</body>
</html>
