.topnav {
  background-color: skyblue;
  overflow: hidden;
   padding-top:30px;
}
#main-header{
background-color: skyblue;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: white;
}

.covid{
height:50px;width:150px;background-color:white;font-size:28px;
border-radius:10px;margin-top:32px;text-align:center;padding-top:2px;opacity: 1;
  transition: 0.3s;text-decoration: none;

}
.covid:hover {opacity: 0.6}

.headimg{
height:120px;width:200px;
 }
.footer_top{
color:white;
background-color:black;}
.footer_img{
height:200px;width:300px;}
.footimg{
height:200px;width:300px;
}

.links{
color:white;
margin-top:5%;font-size:22px;}
.copyright{
text-align:center;font-size:22px;}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
*{
            margin: 0;
            padding: 0;
        }

        #map{
            width: 100vw;
            height: 100vh;
        }
